<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>user</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <ion-card *ngIf="user">
        <ion-avatar item-start>
          <img src="{{ user.gravatarUrl }}">
        </ion-avatar>
        <h2>
          <span *ngIf="user.first_name">
            {{ user.first_name }}
          </span>
          <span *ngIf="user.last_name">
            {{ user.last_name }}
          </span>
        </h2>
        <p>{{ user.email }}</p>
        <p>{{ user.username }}</p>
    </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab color="light">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
  
      <ion-fab-list side="left">
  
        <button ion-fab color="primary" (click)="toUserEdit()">
          <ion-icon name="md-create"></ion-icon>
        </button>
  
        <button ion-fab color="danger" (click)="toUserDelete()">
          <ion-icon name="trash"></ion-icon>
        </button>
  
      </ion-fab-list>
    </ion-fab>
  
  </ion-content>