<!--
  Generated template for the UserEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>user-edit</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form *ngIf="myUser" [formGroup]="user" (ngSubmit)="editUser()">
  
     <ion-input type="hidden" formControlName="_id" value="{{ myUser._id }}"></ion-input>
  
      <ion-list>
  
        <ion-item no-lines class="alert alert-error no-lines" *ngIf="errorMessage">{{ errorMessage }}</ion-item>
  
        <ion-item no-lines [ngClass]="{'has-error':errors.username}" >
          <ion-label floating>Username</ion-label>
          <ion-input type="text" formControlName="username" value="{{ myUser.username }}"></ion-input>
        </ion-item>
  
        <ion-item no-lines class="no-lines has-error" *ngIf="errors.username">{{ errors.username.message }}</ion-item>
  
        <ion-item no-lines [ngClass]="{'has-error':errors.email}">
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email" value="{{ myUser.email }}"></ion-input>
        </ion-item>
  
        <ion-item no-lines class="no-lines has-error" *ngIf="errors.email">{{ errors.email.message }}</ion-item>
  
        <ion-item no-lines >
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" formControlName="first_name" value="{{ myUser.first_name }}"></ion-input>
        </ion-item>
  
        <ion-item no-lines >
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" formControlName="last_name" value="{{ myUser.last_name }}"></ion-input>
        </ion-item>
  
      </ion-list>
  
      <button ion-button full type="submit">Submit</button>
  
    </form>
  </ion-content>